.settings/ebb.xsd1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.bafin.de/mvp/ebb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.bafin.de/mvp/ebb/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
			
<xsd:include schemaLocation="ebb.xsd2.xsd"/>
			
<xsd:include schemaLocation="ebb.xsd3.xsd"/>

			
<xsd:element name="submit">
				
<xsd:complexType>
					
<xsd:sequence>
						
<xsd:element name="inEbb" type="tns:ebbInType"/>
						
<xsd:element name="kundenreferenz" type="tns:kundenreferenzType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
<xsd:element name="submitResponse">
				
<xsd:complexType>
					
<xsd:sequence>
						
<xsd:element name="out" type="tns:outType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>