.settings/t_ebb.xsd4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
<!-- *********************************************************************************** -->
	
<!-- ****************   Globale Datentypen fuer alle Fachverfahren   ******************* -->
	
<!-- *********************************************************************************** -->

	
<xsd:simpleType name="booleanOnlyTrue">
		
<xsd:restriction base="xsd:boolean">
			
<xsd:pattern value="true"/>
			
<xsd:pattern value="1"/>
		</xsd:restriction>
	</xsd:simpleType>

	
<xsd:simpleType name="bafinIdType">
		
<xsd:restriction base="xsd:integer">
			
<xsd:pattern value="[1-9][0-9]{7}"/>
		</xsd:restriction>
	</xsd:simpleType>

	
<xsd:simpleType name="regNrType">
		
<xsd:restriction base="xsd:integer">
			
<xsd:pattern value="[0-9]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>

	
<xsd:simpleType name="bakNrType">
		
<xsd:restriction base="xsd:integer">
			
<xsd:pattern value="[1-9][0-9]{5}"/>
		</xsd:restriction>
	</xsd:simpleType>

	
<xsd:simpleType name="isinType">
		
<xsd:annotation>
			
<xsd:documentation>Element im Format einer ISIN (Zwei Grossbuchstaben, gefolgt von 9 Grossbuchstaben oder Ziffern und einer Pruefziffer)</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="xsd:string">
			
<xsd:length value="12"/>
			
<xsd:pattern value="[A-Z]{2}[A-Z0-9]{9}[0-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	
<xsd:simpleType name="wknType">
		
<xsd:annotation>
			
<xsd:documentation>Element im Format einer WKN (6 Grossbuchstaben (ohne I und O) oder Ziffern)</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="xsd:string">
			
<xsd:length value="6"/>
			
<xsd:pattern value="([A-Z-[IO]]|[0-9]){6}"/>
		</xsd:restriction>
	</xsd:simpleType>

	
<xsd:simpleType name="bicType">
		
<xsd:annotation>
			
<xsd:documentation>Element im Format eines BIC/Swift-Codes (6 Grossbuchstaben, gefolgt von 2 oder 5 Grossbuchstaben oder Ziffern)</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="xsd:string">
			
<xsd:pattern value="[A-Z]{6}[A-Z0-9]{2}([A-Z0-9]{3})?"/>
		</xsd:restriction>
	</xsd:simpleType>

	
<xsd:simpleType name="isoLandType">
		
<xsd:annotation>
			
<xsd:documentation>Format der ISO-Laendercodes nach ISO 3166-1 alpha-2 (2 Grossbuchstaben)</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="xsd:string">
			
<xsd:pattern value="[A-Z]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>

	
<xsd:simpleType name="micType">
		
<xsd:annotation>
			
<xsd:documentation>Element im Format eines MIC-Codes nach ISO 10383 (Kombination aus 4 Grossbuchstaben oder Ziffern)</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="xsd:string">
			
<xsd:pattern value="[A-Z0-9]{4,4}"/>
		</xsd:restriction>
	</xsd:simpleType>

	
<xsd:simpleType name="leiType">
		
<xsd:annotation>
			
<xsd:documentation>Element im Format eines LEI-Codes nach ISO 17442 (Kombination aus 18 Grossbuchstaben oder Ziffern gefogt von 2 Ziffern)</xsd:documentation>
		</xsd:annotation>
		
<xsd:restriction base="xsd:string">
			
<xsd:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
		</xsd:restriction>
	</xsd:simpleType>

	
<xsd:simpleType name="currencyType">
		
<xsd:restriction base="xsd:string">
			
<xsd:pattern value="[A-Z]{3,3}"/>
		</xsd:restriction>
	</xsd:simpleType>

	
<xsd:simpleType name="currencyMinorUnitsType">
		
<xsd:restriction base="xsd:string">
			
<xsd:pattern value="[A-Z]{2,2}[A-Za-z]{1,1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	
<xsd:complexType name="emptyElementType"/>

	
<xsd:simpleType name="dateType">
		
<xsd:restriction base="xsd:date">
			
<xsd:pattern value="[0-9]{4}\-.*"/>
		</xsd:restriction>
	</xsd:simpleType>

	
<xsd:simpleType name="meldungIdType">
		
<xsd:restriction base="xsd:int">
			
<xsd:minInclusive value="1"/>
			
<xsd:pattern value="[0-9]{1,10}"/>
		</xsd:restriction>
	</xsd:simpleType>

	
<xsd:simpleType name="nonNegativeIntType">
		
<xsd:restriction base="xsd:int">
			
<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>

	
<xsd:simpleType name="positiveIntType">
		
<xsd:restriction base="xsd:int">
			
<xsd:minInclusive value="1"/>
		</xsd:restriction>
	</xsd:simpleType>

	
<xsd:simpleType name="isoLanguageCodeSubmissionType">
		
<xsd:restriction base="xsd:string">
			
<xsd:enumeration value="de">
				
<xsd:annotation>
					
<xsd:documentation>German</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			
<xsd:enumeration value="en">
				
<xsd:annotation>
					
<xsd:documentation>English</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>