.settings/t_ebb.xsd3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema version="1.0" elementFormDefault="qualified" targetNamespace="http://www.bafin.de/mvp/ebb/" xmlns:axsd1="http://www.bafin.de/mvp/ebb/" xmlns:axsd="http://www.bafin.de/mvp/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bafin.de/mvp/ebb/">
	
<!-- ************************************************************ -->
	
<!-- ****************   Include des allgemeinen Schemas   ******* -->
	
<!-- ************************************************************ -->
	
<xsd:include schemaLocation="t_ebb.xsd4.xsd"/>

	
<!-- EBB Meldung -->
	
<xsd:complexType name="ebbInType">
		
<xsd:sequence>
			
<xsd:element name="allgemeineAngaben" type="allgemeineAngabenType"/>
			
<xsd:element name="abschnittA" type="abschnittAType" minOccurs="0"/>
			
<xsd:element name="abschnittB" type="abschnittBType" minOccurs="0"/>
			
<xsd:element name="abschnittC" type="abschnittCType"/>
		</xsd:sequence>
	</xsd:complexType>

	
<xsd:complexType name="allgemeineAngabenType">
		
<xsd:sequence>
			
<xsd:element name="meldezeitraum" type="jahrType"/>
			
<xsd:element name="angabenInstitut" type="angabenInstitutType"/>
		</xsd:sequence>
	</xsd:complexType>

	
<xsd:complexType name="angabenInstitutType">
		
<xsd:sequence>
			
<xsd:element name="ansprechpartner" type="ansprechpartnerType"/>
		</xsd:sequence>
	</xsd:complexType>

	
<xsd:complexType name="ansprechpartnerType">
		
<xsd:sequence>
			
<xsd:element name="name" type="string_70"/>
			
<xsd:element name="vorname" type="string_70"/>
			
<xsd:element name="organisationseinheit" type="string_100"/>
			
<xsd:element name="telefon" type="string_20"/>
			
<xsd:element name="email" type="string_50"/>
		</xsd:sequence>
	</xsd:complexType>

	
<xsd:complexType name="abschnittAType">
		
<xsd:choice>
			
<xsd:sequence>
				
<xsd:element name="wertpapierdienstleistung" type="wertpapierdienstleistungType" minOccurs="0"/>
				
<xsd:element name="wertpapiernebendienstleistung" type="wertpapiernebendienstleistungType" minOccurs="0"/>
				
<xsd:element name="sonstige" type="beschwerdenType" minOccurs="0"/>
			</xsd:sequence>
			
<xsd:element name="gesamtsumme" type="beschwerdenType" minOccurs="0"/>
		</xsd:choice>
	</xsd:complexType>

	
<xsd:complexType name="wertpapierdienstleistungType">
		
<xsd:sequence>
			
<xsd:element name="finanzkommissionsgeschaeft" type="beschwerdenType" minOccurs="0"/>
			
<xsd:element name="marketMaking" type="beschwerdenType" minOccurs="0"/>
			
<xsd:element name="systematischeInternalisierung" type="beschwerdenType" minOccurs="0"/>
			
<xsd:element name="eigenhandel" type="beschwerdenType" minOccurs="0"/>
			
<xsd:element name="hochfrequenzhandel" type="beschwerdenType" minOccurs="0"/>
			
<xsd:element name="abschlussvermittlung" type="beschwerdenType" minOccurs="0"/>
			
<xsd:element name="anlagevermittlung" type="beschwerdenType" minOccurs="0"/>
			
<xsd:element name="emissionsgeschaeft" type="beschwerdenType" minOccurs="0"/>
			
<xsd:element name="platzierungsgeschaeft" type="beschwerdenType" minOccurs="0"/>
			
<xsd:element name="finanzportfolioverwaltung" type="beschwerdenType" minOccurs="0"/>
			
<xsd:element name="betriebMultilateralesHandelssystem" type="beschwerdenType" minOccurs="0"/>
			
<xsd:element name="betriebOrganisiertesHandelssystem" type="beschwerdenType" minOccurs="0"/>
			
<xsd:element name="anlageberatung" type="beschwerdenType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	
<xsd:complexType name="wertpapiernebendienstleistungType">
		
<xsd:sequence>
			
<xsd:element name="depotgeschaeft" type="beschwerdenType" minOccurs="0"/>
			
<xsd:element name="uebrigeWertpapiernebendienstleistungen" type="beschwerdenType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	
<xsd:complexType name="beschwerdenType">
		
<xsd:sequence>
			
<xsd:element name="bearbeitungsstand" type="bearbeitungsstandType" minOccurs="0"/>
			
<xsd:element name="erfolgreicheBeschwerden" type="erfolgreicheBeschwerdenType" minOccurs="0"/>
			
<xsd:element name="gerichtsUndSchlichtungsverfahren" type="gerichtsUndSchlichtungsverfahrenType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	
<xsd:complexType name="bearbeitungsstandType">
		
<xsd:sequence>
			
<xsd:element name="anzahlEingegangeneBeschwerden" type="anzahlType" minOccurs="0"/>
			
<xsd:element name="anzahlErledigteBeschwerden" type="anzahlType" minOccurs="0"/>
			
<xsd:element name="anzahlOffeneBeschwerden" type="anzahlType" minOccurs="0"/>
			
<xsd:element name="anzahlOffeneBeschwerdenVorjahr" type="anzahlType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	
<xsd:complexType name="erfolgreicheBeschwerdenType">
		
<xsd:sequence>
			
<xsd:element name="gesamtanzahl" type="anzahlType" minOccurs="0"/>
			
<xsd:element name="anzahlKulanzzahlungen" type="anzahlType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	
<xsd:complexType name="gerichtsUndSchlichtungsverfahrenType">
		
<xsd:sequence>
			
<xsd:element name="anzahlGerichtsverfahren" type="anzahlType" minOccurs="0"/>
			
<xsd:element name="anzahlSchlichtungsverfahren" type="anzahlType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	
<xsd:complexType name="abschnittBType">
		
<xsd:sequence>
			
<xsd:element name="anzahlAuftragsausfuehrung" type="anzahlType" minOccurs="0"/>
			
<xsd:element name="anzahlAufzeichnungspflichten" type="anzahlType" minOccurs="0"/>
			
<xsd:element name="anzahlEinholungVonKundeninformationen" type="anzahlType" minOccurs="0"/>
			
<xsd:element name="anzahlEmpfehlung" type="anzahlType" minOccurs="0"/>
			
<xsd:element name="anzahlEntgelteGebuehrenKostenZuwendungen" type="anzahlType" minOccurs="0"/>
			
<xsd:element name="anzahlInteressenkonflikte" type="anzahlType" minOccurs="0"/>
			
<xsd:element name="anzahlRisikoaufklaerung" type="anzahlType" minOccurs="0"/>
			
<xsd:element name="anzahlSekundaermarkt" type="anzahlType" minOccurs="0"/>
			
<xsd:element name="anzahlVerwahrungVerwaltung" type="anzahlType" minOccurs="0"/>
			
<xsd:element name="anzahlSonstiges" type="anzahlType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	
<xsd:complexType name="abschnittCType">
		
<xsd:sequence>
			
<xsd:element name="personelleKonsequenzen" type="string_4000"/>
			
<xsd:element name="organisatorischeKonsequenzen" type="string_4000"/>
		</xsd:sequence>
	</xsd:complexType>

	
<xsd:simpleType name="jahrType">
		
<xsd:restriction base="xsd:integer">
			
<xsd:minInclusive value="1900"/>
			
<xsd:maxInclusive value="2099"/>
		</xsd:restriction>
	</xsd:simpleType>

	
<xsd:simpleType name="anzahlType">
		
<xsd:restriction base="xsd:integer">
			
<xsd:minInclusive value="0"/>
			
<xsd:maxInclusive value="99999"/>
		</xsd:restriction>
	</xsd:simpleType>

	
<xsd:simpleType name="string_20">
		
<xsd:restriction base="xsd:token">
			
<xsd:minLength value="1"/>
			
<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>

	
<xsd:simpleType name="string_50">
		
<xsd:restriction base="xsd:token">
			
<xsd:minLength value="1"/>
			
<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>

	
<xsd:simpleType name="string_70">
		
<xsd:restriction base="xsd:token">
			
<xsd:minLength value="1"/>
			
<xsd:maxLength value="70"/>
		</xsd:restriction>
	</xsd:simpleType>

	
<xsd:simpleType name="string_100">
		
<xsd:restriction base="xsd:token">
			
<xsd:minLength value="1"/>
			
<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>

	
<xsd:simpleType name="string_4000">
		
<xsd:restriction base="xsd:string">
			
<xsd:minLength value="1"/>
			
<xsd:maxLength value="4000"/>
			
<xsd:pattern value="(\s|.)*\S(.|\s)*"/>
		</xsd:restriction>
	</xsd:simpleType>


	
<xsd:element name="inEbb" type="ebbInType"/>
</xsd:schema>